@mixin root {
  --primary-color: #121212;
  --secondary-color: #1e1e1e;
  --accent-color: #d4af37;
  --text-color: #e0e0e0;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #888;
  --light-gray-color: #ccc;
  --dark-gray-color: #333;
  --lighter-gray-color: #666;
  --lightest-gray-color: #999;
}
